@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,600;1,700&display=swap");

* {
	box-sizing: border-box;
	color: #767676;
	font-family: "Titillium Web", sans-serif;
	/* font-family: "Roboto", sans-serif; */
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

:root {
	--luckia: linear-gradient(266deg, #f80, #ea5b0c 53%, #dc4405);
	--white: #fff;
	--darkgrey: #444444;
	--grey: #efefef;
	--lightgrey: #f9f9f9;
	--darkFontColor: #767676;
	--ceniza: #d6d6d6;
	--organge: #ea5b0c;
}

body {
	background-color: var(--grey);
}
/*::::: PAYMENTS :::::*/
.payments {
	height: 140px;
	max-height: 140px;
	background-color: var(--white);
}
.payments__title--wrapper {
	padding: 16px 66px 8px 66px;
}
.payments__title {
	font-weight: 600;
	font-style: normal;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
}
.payments__logo--wrapper {
	padding:  0 32px;
}
.payments__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.payments__items {
	margin: 0 8px;
}
.payments__images {
	height: 18px;
}

.seolinks {
}

/*::: 1#. LOGO :::*/
.seolinks__wrapper {
}

.seolinks__logo {
}

.seolinks__logo--img {
}

.seolinks__logo-list {
}

.seolinks__logo-list--item {
}

.seolinks__logo-list--icon {
}

/*::: 2#. APUESTAS :::*/

.seolinks__bets {
	max-height: 420px;
}

.seolinks__bets > .accordion:first-child {
	border: none;
}

.seolinks__bets
	> .accordion:first-child
	> .accordion__header
	> .accordion__icon-wrapper {
	display: none;
}

/*::: 3#. MORE LINKS :::*/

.seolinks__more > .accordion:nth-child(1),
.seolinks__more > .accordion:nth-child(2),
.seolinks__more > .accordion:nth-child(3) {
	border: none;
	width: fit-content;
}

.seolinks__more
	> .accordion:nth-child(1)
	> .accordion__header
	> .accordion__icon-wrapper,
.seolinks__more
	> .accordion:nth-child(2)
	> .accordion__header
	> .accordion__icon-wrapper,
.seolinks__more
	> .accordion:nth-child(3)
	> .accordion__header
	> .accordion__icon-wrapper {
	display: none;
}

.accordion {
	border-top: 1px solid var(--ceniza);
	width: 100%;
	padding: 0 24px;
}

.seolinks > .accordion:nth-child(2),
.seolinks > .accordion:last-child {
	width: 100%;
}

.seolinks__bets > .accordion:first-child {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	height: auto;
}

.seolinks__wrapper {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.seolinks__logo-list {
	display: inline-flex;
	gap: 8px;
	padding-left: 12px;
}

.seolinks__logo--img {
	height: 39px;
}

.seolinks__bets > .accordion:first-child > .accordion__header {
	height: fit-content;
}

.seolinks__bets > .accordion:first-child > .acc__body > .accordion__list {
	column-gap: 8px;
	column-fill: auto;
}

.acc__body {
	max-height: fit-content;

	margin-bottom: 14px;
}

.accordion__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/*styles*/
	cursor: pointer;
}

.accordion__header.red div.accordion__icon-wrapper > .accordion__icon {
	/*styles*/
	transform: rotate(-135deg);
	transition: transform 0.45s ease-in-out;
	fill: var(--organge);
}

.accordion__title {
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	line-height: 16px;
}

.accordion__icon-wrapper {
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.accordion__icon {
	width: 0.625rem; /* 10px */
	margin: 0.5rem 0.75rem; /* 8px 12px */
	/*styles*/
	transform: rotate(0deg);
	transition: transform 0.45s ease-in-out;
	fill: var(--darkFontColor);
}

.accordion__body {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.45s ease-in-out;
}

.accordion__list {
}

.accordion__list--link {
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 16px;
}

.red {
	background-color: var(--grey);
}

.seolinks__more {
}

.seolinks__more
	> .accordion:nth-child(4)
	> .accordion__header
	> .accordion__title,
.seolinks__more
	> .accordion:nth-child(5)
	> .accordion__header
	> .accordion__title {
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	line-height: 16px;
	margin: 0;
}

.seolinks__more > .accordion:nth-child(4) > .accordion__body,
.seolinks__more > .accordion:nth-child(5) > .accordion__body {
}

.seolinks__more > .accordion:nth-child(4) > .accordion__header,
.seolinks__more > .accordion:nth-child(5) > .accordion__header {
	margin: 15px 0;
}

@media only screen and (min-width: 688px) {
	.seolinks__bets > .accordion:first-child {
		height: auto;
	}

	.seolinks__bets > .accordion:first-child > .acc__body > .accordion__list {
		columns: 40px 2;
		column-fill: balance;
		height: auto;
		gap: 168px;
	}

	.seolinks__more {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
}

@media only screen and (min-width: 1024px) {
	.accordion {
		border: none;
	}

	.accordion__header {
		pointer-events: none;
	}

	.accordion__icon-wrapper {
		display: none;
	}

	.accordion__body {
		max-height: fit-content;
	}

	.seolinks {
		display: flex;
		max-height: 450px;
	}

	.seolinks__wrapper {
		justify-content: flex-start;
		flex: 1;
	}
	.seolinks__bets {
		flex: 1;
	}

	.seolinks__bets > .accordion:first-child {
		flex-direction: row;
		width: 380px;
	}

	.seolinks__bets > .accordion:first-child > .accordion__header {
	}

	.seolinks__bets > .accordion:first-child > .acc__body {
		height: auto;
		width: 100%;
	}

	.seolinks__bets > .accordion:first-child > .acc__body > .accordion__list {
		height: 330px;
		column-fill: auto;
		gap: 0;
	}

	.seolinks__more {
		flex-direction: column;
		justify-content: unset;
		flex: 2;
		gap: 4px;
	}

	.seolinks__more > .accordion:nth-child(1) {
	}
	.seolinks__more > .accordion:nth-child(2) {
	}
	.seolinks__more > .accordion:nth-child(3) {
	}

	.seolinks__more > .accordion:nth-child(4) {
		width: fit-content;
	}

	.seolinks__more > .accordion:nth-child(5) {
		width: fit-content;
	}

	.seolinks__more
		> .accordion:nth-child(4)
		> .accordion__header
		> .accordion__title,
	.seolinks__more
		> .accordion:nth-child(5)
		> .accordion__header
		> .accordion__title {
		font-size: 13px;
	}

	.seolinks__more > .accordion:nth-child(4) > .accordion__header,
	.seolinks__more > .accordion:nth-child(5) > .accordion__header {
		margin: 0;
	}
}

@media only screen and (min-width: 1200px) {
	.seolinks {
		max-height: 330px;
	}

	.seolinks__bets > .accordion:first-child {
		width: 380px;
	}
}
