/*:::::::::::: IMPORTS ::::::::::::*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,600;1,700&display=swap");

@import url(".//accordion-js-NEW.css");

/*:::::::::::: VARIABLES ::::::::::::*/
:root {
	--luckiaa: linear-gradient(266deg, #f80, #ea5b0c 53%, #dc4405);
	--white: #fff;
	--darkgrey: #444444;
	--grey: #efefef;
	--lightgrey: #f9f9f9;
	--darkFontColor: #767676;
	--luckia: #ea5b0c;
	--dark: #212121;
}

/*:::::::::::: RESET ::::::::::::*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Titillium Web", sans-serif;
	/* font-family: "Roboto", sans-serif; */
}

/*:::::::::::: LAYOUT FOOTER ::::::::::::*/

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.footer {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.header {
	background-image: var(--luckiaa);
	color: var(--white);
	display: flex;
	flex: 1;
	justify-content: center;
	max-height: 75px;
}

.main {
	display: flex;
	flex: 1;
	justify-content: center;
	text-align: center;
}
/*:::::::::::: FOOTER SECTIONS LAYOUT ::::::::::::
- Summary:
   #1. PAYMENTS
	#2. LINKS
	#3. RULES
	#4. TERMS
	#5. MOBILE
	#6. TABLET
	#7. DESKTOP
*/

/** #1. PAYMENTS **/
.payments {
	background-color: var(--lightgrey);
	display: flex;
	flex: 1;
	flex-direction: column;
}

.payments__wrapper {
	margin: 16px;
}

.payments__title {
	color: var(--darkFontColor);
	font-size: 1rem;
	max-width: 75%;
	text-align: center;
	margin: 0 auto;
}

.payments__list-logos {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 8px 0;
}

.payments__list-items {
	list-style: none;
	margin: 2px 0;
}

.payments__list-images {
	height: 19px;
	margin: 0 8px;
}

/** #2. LINKS **/
.links {
	background-color: var(--grey);
	display: flex;
	flex-wrap: wrap;
}
.links__box-logos {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 24px 106px auto 88px;
	width: 100%;
}

.links__box-logos--img {
	height: 39px;
}

.links__list-social {
	display: flex;
	gap: 8px;
	justify-content: center;
	margin: 8px;
	padding-left: 8px;
}

.links__list {
	margin: 16px 24px;
	width: 260px;
}

.links__list--title {
	font-size: 1rem;
	line-height: 26px;
}

.links__list-social--item {
	list-style: none;
}

.links__list-social--icon:hover {
	transform: scale(1.2);
	opacity: 0.6;
	transition: transform 0.45s;
}

.links__list--link {
	color: var(--darkFontColor);
	text-decoration: none;
}

.links__list--link:hover {
	color: var(--dark);
}

/** #3. RULES **/

.rules {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: var(--lightgrey);
	flex: 1;
}

.rules__logo {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	margin: 24px 19px 24px 17px;
	width: 100%;
}

.rules__logo--img {
	margin: 12px 6px;
}

.rules__logo--img:first-child {
	height: 60px;
}
.rules__logo--img {
	height: 46px;
}

.rules__description {
	line-height: 24px;
	margin: 24px 19px 24px 17px;
	font-size: 12px;
}

.rules__description--link {
	color: var(--luckia);
	font-weight: bold;
}

.terms {
	background-color: var(--dark);
	display: flex;
	flex: 1;
}

/** #4. TERMS **/

.terms__list {
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 14px 16px 18px 16px;
	width: 100%;
}

.terms__list--link {
	font-size: 14px;
	color: var(--white);
	line-height: 20px;
}

.wrapper:nth-of-type(3) > ul.links__list:nth-child(2),
.wrapper:nth-of-type(3) > ul.links__list:nth-child(3) {
	display: none;
}

/*:::::::::::: DO RESPONSIVE MEDIA QUERYS ::::::::::::*/
/** #5. MOBILE **/
@media only screen and (min-width: 767px) {
	.links {
		justify-content: space-between;
	}
	.links__list {
		width: fit-content;
	}

	.payments__list-images {
		height: 24px;
	}
}

/** #6. TABLETS **/
@media only screen and (min-width: 1024px) {
	.links__box-logos {
		justify-content: flex-start;
		align-items: flex-start;
		margin: 24px 36px;
		width: fit-content;
	}

	.accordion {
		display: none;
	}

	.rules {
		flex-wrap: nowrap;
	}

	.rules__logo {
		justify-content: flex-start;
	}

	.rules__logo--img {
		height: 63px;
	}

	.rules__description {
		max-width: 560px;
		margin: 12px 19px 12px 17px;
	}

	.wrapper:nth-of-type(3) > ul.links__list:nth-child(2),
	.wrapper:nth-of-type(3) > ul.links__list:nth-child(3) {
		display: block;
	}
}

/** #7. DESKTOP **/
@media only screen and (min-width: 1200px) {
	.rules__logo {
		justify-content: center;
	}

	.rules__logo--img {
		height: 72px;
	}
}

@media only screen and (min-width: 1200px) {}
	
@media only screen and (min-width: 1440px) {
	.links__list--link {
		font-size: 13px;
	}
}
