@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,600;1,700&display=swap");

* {
	box-sizing: border-box;
	color: #767676;
	font-family: "Titillium Web", sans-serif;
	/* font-family: "Roboto", sans-serif; */
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	width: 100vw;
}

.header {
	align-items: center;
	background-color: orange;
	display: flex;
	justify-content: center;
}

.main {
	align-items: center;
	background-color: rgb(255, 255, 255);
	display: flex;
	justify-content: center;
}

/*::::: CUSTOM STYLES :::::*/

.fl-grow {
	flex-grow: 1;
}

/*::::: FOOTER STYLES :::::*/

.footer {
	background-color: #efefef;
	display: flex;
	flex-direction: column;
}
/*::::: FOOTER LOGO PAYMENT SECTIONS :::::*/
.footer__section-payment {
	background-color: #f9f9f9;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer__section-title {
	line-height: 24px;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	margin: 16px auto;
	max-width: 60%;
	text-align: center;
}

.footer__list {
	align-items: baseline;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
}

.footer__logo-pay {
	height: 18px;
	margin: 8px;
}

/*::::: FOOTER LINK SECTIONS :::::*/

.footer__section-links {
	display: flex;
	flex-wrap: wrap;
}

.footer__box-logo {
	display: inline-block;
}

.footer__box-link {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	padding: 24px;
}

.footer__logo-container {
	margin: 8px 24px;
	width: fit-content;
}

.footer__logo {
	height: 39px;
}

.footer__social-list {
	display: inline-flex;
	gap: 9px;
	justify-content: flex-start;
	list-style: none;
	margin: 8px 24px;
}

.footer__social-item {
}

.footer__social-icon {
	height: 35px;
}

.footer__box-list {
	display: flex;
	flex-direction: column;
}

.footer__col {
	display: flex;
	flex-direction: column;
	height: 100%;
	gap: 16px;
}

.footer__box-list > li {
	list-style: none;
}

.footer__box-title {
	font-size: 13px;
}

.footer__link {
	text-decoration: none;
}

/*::::: FOOTER :::::*/

.accordion {
	border-top: 1px solid #d6d6d6;
	width: 100vw;
}

.accordion__button {
	background-color: #efefef;
	color: #444;
	cursor: pointer;
	padding: 4px 24px;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
	font-size: 15px;
	transition: 0.4s;
}

.accordion__button {
	border: none;
	width: 100%;
	text-align: left;
}

.active {
	transition: 0.6s all ease-in-out;
}

.active,
.accordion__button:hover {
	background-color: #efefef;
}

.accordion__title {
	font-size: 16px;
}

.accordion__panel {
	padding: 4px 24px;
	display: none;
	background-color: #efefef;
	overflow: hidden;
	list-style: none;
}

.accordion__panel > li > a {
	text-decoration: none;
	color: gray;
	font-size: 15px;
}

@media only screen and (max-width: 767px) {
	.footer__section-links {
		display: flex;
		flex-direction: column;
		justify-content: center;
		max-height: none;
	}

	.footer__social-list {
		justify-content: center;
		margin: 8px;
		width: 100%;
	}
/* 
	.footer__box-list {
		width: inherit;
	} */
}
