@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,600;1,700&display=swap");

* {
	box-sizing: border-box;
	color: #767676;
	font-family: "Titillium Web", sans-serif;
	/* font-family: "Roboto", sans-serif; */
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
}

.menu {
	display: flex;
}

.menu--child {
	position: absolute;
	transform-origin: top center;
	transform: scale(1, 0);
	transition: transform 0.3s ease-in-out 0.2s;
}

.menu__item:hover > .menu--child {
	transform: scale(1, 1);
}

/* ::::: CSS ACCORDION :::::: */
.wrapper {
}

.accordion {
	cursor: pointer;
	text-align: left;
}

.cross {
	position: relative;
	bottom: 2.5px;
	transform: rotate(0deg);
	transition: transform 0.3s;
	fill: #888888;
}

.panel {
	position: absolute;
	transform-origin: top center;
	transform: scale(1, 0);
	transition: transform 0.3s;
}

.rotate {
	transform: rotate(45deg);
	transition: transform 0.3s;
}

.panel__item {
}

.lck {
	fill: #fa6029;
}

.show {
	position: absolute;
	transform-origin: top center;
	transform: scale(1, 1);
}
