/* ::: ACCORDION STYLES ::: 
 to config COLUMNS accordion use property "columns" in accordion__list and assign it height or max-height property to accordion
 */

.accordion {
	border-top: 1px solid var(--greyjoy);
	width: 100%;
	padding: 0 24px;
}

.accordion__header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	cursor: pointer;
}

.accordion__title {
	font-style: normal;
	font-weight: bold;
	font-size: 13px;
	line-height: 16px;
	padding-bottom: 4px;
	color: var(--antracita-light);
}

.accordion__icon-wrapper {
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.accordion__icon {
	width: 10px;
	margin: 8px 12px;
	transform: rotate(0deg);
	transition: transform 0.45s ease-in-out;
	fill: var(--antracita-light);
}

/*:: Icon Rotation ::*/
.accordion__header.icon__rotate div.accordion__icon-wrapper > .accordion__icon {
	transform: rotate(-135deg);
	transition: transform 0.45s ease-in-out;
	fill: var(--luckia);
}

/* No accordion fx */
.acc__body {
	max-height: fit-content;
	margin-bottom: 14px;
}

/* Accordion fx */
.accordion__body {
	max-height: 0;
	min-height: 0;
	overflow: hidden;
	transition: min-height 0.45s ease-in-out;
}

.accordion__list > li {
	height: 20px;
}

.accordion__list li a {
	color: var(--antracita-light);
	font-style: normal;
	font-weight: normal;
	font-size: 13px;
	line-height: 16px;
}

.accordion__list li a:hover {
	color: var(--dark);
}

.accordion__list--link {
}

.accordion__list--link:hover {
}

.seolinks__bets > .accordion:first-child,
.seolinks__more > .accordion:nth-child(1),
.seolinks__more > .accordion:nth-child(2),
.seolinks__more > .accordion:nth-child(3) {
	border: none;
	width: fit-content;
}

.seolinks__bets
	> .accordion:first-child
	> .accordion__header
	> .accordion__icon-wrapper,
.seolinks__more
	> .accordion:nth-child(1)
	> .accordion__header
	> .accordion__icon-wrapper,
.seolinks__more
	> .accordion:nth-child(2)
	> .accordion__header
	> .accordion__icon-wrapper,
.seolinks__more
	> .accordion:nth-child(3)
	> .accordion__header
	> .accordion__icon-wrapper {
	display: none;
}

.footer {
	display: flex;
	flex-direction: column;
	max-height: 712px;
}

/*::::: 1#. PAYMENTS :::::*/
.payments {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	max-height: 140px;
	background-color: var(--magnolia-light);
	padding-bottom: 8px;
}

.payments__title--wrapper {
	width: 65%;
	margin: 8px;
}

.payments__title {
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
}

.payments__logo--wrapper {
	padding: 0 20px;
}

.payments__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.payments__items {
	margin: 4px;
}

.payments__images {
	height: 18px;
}

/*::::: 2#.SEOLINKS :::::*/
.seolinks {
	background-color: var(--magnolia);
}

/*::::: 2.1#. WRAPPER :::::*/
.seolinks__wrapper {
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	padding: 24px 106.03px 24px 88px;
}

.seolinks__wrapper > .seolinks__logo--img {
	height: 39px;
}

.seolinks__wrapper > .seolinks__logo-list {
	display: inline-flex;
	gap: 8px;
	padding-left: 12px;
}

.seolinks__logo-list--icon {
	cursor: pointer;
	transition: transform 0.3s;
}

.seolinks__logo-list--icon:hover {
	transform: scale(1.2);
	opacity: 0.6;
	transition: transform 0.3s;
}

/*::::: 2.2#. BETS :::::*/
.seolinks__bets > .accordion:first-child {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	height: auto;
}

.seolinks__bets > .accordion:first-child > .accordion__header {
	height: fit-content;
}

.seolinks__bets > .accordion:first-child > .acc__body > .accordion__list {
	column-gap: 8px;
	column-fill: auto;
}

/*::::: 2.3#. BETS_MORE :::::*/
.seolinks__more
	> .accordion:nth-child(4)
	> .accordion__header
	> .accordion__title,
.seolinks__more
	> .accordion:nth-child(5)
	> .accordion__header
	> .accordion__title {
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	line-height: 16px;
	margin: 0;
}

.seolinks__more > .accordion:nth-child(4) > .accordion__body > .accordion__list,
.seolinks__more
	> .accordion:nth-child(5)
	> .accordion__body
	> .accordion__list {
	padding-bottom: 16px;
}

.seolinks__more > .accordion:nth-child(4) > .accordion__header,
.seolinks__more > .accordion:nth-child(5) > .accordion__header {
	margin: 15px 0;
}

/*::::: 3#. AUTH :::::*/
.auth {
	padding: 24px 19px 24px 17px;
	background-color: var(--magnolia-light);
	width: 100%;
	height: 345px;
}

.auth__logos {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 24px;
}

.auth__logos--image:nth-child(1) {
	height: 60px;
	margin-right: 12px;
}

.auth__logos--image:last-child {
	height: 46px;
	margin-left: 12px;
}

.auth__description--text {
	font-size: 12px;
	font-weight: 400;
	font-style: normal;
	line-height: 24px;
}

.auth__description--link {
	color: var(--luckia);
	font-weight: bold;
	text-decoration: underline;
	cursor: pointer;
}

.terms {
	background-color: var(--black);
	padding: 14px 16px 18px 16px;
}

.terms__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.terms__items {
	height: 20px;
}

.terms__links {
	color: var(--white);
	font-style: normal;
	font-weight: normal;
	font-size: 12px;
	line-height: 16px;
}

/* :::::::::::::::::::::::::::::::::::::::::::
::::::::::::::: MEDIA QUERIES :::::::::::::::
::::::::::::::::::::::::::::::::::::::::::::: */
@media only screen and (min-width: 1024px) {
	.accordion {
		border: none;
		padding: 0;
	}

	.accordion__header {
		pointer-events: none;
	}

	.accordion__icon-wrapper {
		display: none;
	}

	.acc__body {
		margin-bottom: 14px;
	}

	.accordion__body {
		max-height: fit-content;
	}

	.payments {
		height: 96px;
	}

	.payments__images {
		height: 24px;
	}

	.payments__items {
		margin: 8px;
	}

	.seolinks {
		display: flex;
		max-height: 420px;
		padding: 23.81px 18px;
	}

	.seolinks__wrapper {
		justify-content: flex-start;
		flex: 1;
		padding: 0.81px 18px;
		margin: 0;
	}

	.seolinks__logo {
		margin-bottom: 16.49px;
	}

	.seolinks__logo--img {
		height: 38.69px;
	}

	.seolinks__logo-list {
		padding-left: 0;
		padding-right: 36px;
	}

	.seolinks__bets {
		flex: 1;
	}

	.seolinks__bets
		> .accordion:first-child
		> .accordion__header
		> .accordion__title {
		padding-bottom: 4px;
	}

	.seolinks__bets > .accordion:first-child > .acc__body > .accordion__list {
		columns: 168px 2;
		column-fill: balance;
	}

	.seolinks__more {
		flex: 2;
		height: 400px;
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}

	.seolinks__more > .accordion:nth-child(4),
	.seolinks__more > .accordion:nth-child(5) {
		width: fit-content;
	}

	.seolinks__more
		> .accordion:nth-child(4)
		> .accordion__header
		> .accordion__title,
	.seolinks__more
		> .accordion:nth-child(5)
		> .accordion__header
		> .accordion__title {
		font-size: 13px;
	}

	.seolinks__more > .accordion:nth-child(4) > .accordion__header,
	.seolinks__more > .accordion:nth-child(5) > .accordion__header {
		margin: 0;
	}

	.seolinks__more
		> .accordion:nth-child(5)
		> .accordion__body
		> .accordion__list {
		padding: 0;
	}

	.auth {
		display: flex;
		justify-content: center;
		align-items: center;
		padding-top: 24px;
		padding-bottom: 24px;
		background-color: var(--magnolia-light);
		width: 100%;
		height: 148px;
		flex: 1;
	}

	.auth__logos {
		padding-left: 36px;
		padding-right: 36px;
	}

	.auth__logos--image:nth-child(1) {
		height: 63.3px;
	}

	.auth__logos--image:last-child {
		height: 55.38px;
	}

	.auth__description--text {
		line-height: 20px;
		max-width: 560px;
		height: 100px;
	}

	.terms {
		max-height: 48px;
	}
}

@media only screen and (min-width: 1200px) {
	.seolinks {
		padding: 0;
	}

	.seolinks__wrapper {
		padding: 24px 0 0 24px;
	}

	.seolinks > .seolinks__wrapper > .seolinks__logo {
		display: flex;
		height: 38.69px;
		justify-content: center;
		margin-bottom: 16.49px;
		width: 100%;
	}

	.seolinks > .seolinks__wrapper > .seolinks__logo-list {
		display: flex;
		gap: 8px;
		justify-content: center;
		padding-right: 42px;
		width: 100%;
	}

	.seolinks__bets {
		flex: 2;
		max-width: 380px;
		padding: 24px 0 0 24px;
	}

	.seolinks__bets
		> .accordion:first-child
		> .accordion__header
		> .accordion__title {
		padding-bottom: 8px;
	}

	.seolinks__bets > .accordion:first-child > .acc__body > .accordion__list {
		height: 280px;
		column-fill: auto;
		gap: 8px;
		columns: 170px 2;
	}

	.seolinks__more {
		flex: 3;
		height: 328px;
		padding: 24px;
	}

	.auth__logos {
		justify-content: flex-start;
		flex: 1;
		max-width: 712px;
	}

	.auth__logos--image:nth-child(1) {
		height: 72px;
		padding-right: 18px;
	}

	.auth__logos--image:nth-child(2) {
		height: 72px;
		padding-left: 18px;
	}

	.auth__description {
		display: flex;
		flex: 1;
		max-width: 557px;
	}
}

@media only screen and (min-width: 1440px) {
	.seolinks__wrapper {
		flex: 2;
	}

	.seolinks__bets {
		flex: 3;
	}

	.seolinks__more {
		flex: 4;
	}

	.auth__logos {
		padding-right: 135px;
		flex: none;
		gap: 15px;
	}
}
